<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>RoboCup Jr Website</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">RCJ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-Navbar Home Page->
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home_page') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-Navbar Criteria Page->
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for ('criteria_page') }}">Criteria</a>
            </li>
            <!-Navbar Rankings Page->
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for ('rankings_page') }}">Rankings</a>
            </li>
            <!-Navbar Dancing Page->
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for ('dancing_page') }}">Dancing</a>
            </li>
            <!-Navbar Team Page->
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for ('teams_page') }}">Team Page</a>
            </li>
            <!-Navbar Search Page->
            <li class="nav-item active fixed-right">
                <a class="nav-link" href="{{ url_for ('search') }}">Search</a>
            </li>
            <!-Navbar Log-In Page->
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for ('login_page') }}">Login</a>
            </li>
            <!-Navbar Register Page->
            <li class="nav-item active fixed-right">
                <a class="nav-link" href="{{ url_for ('register_page') }}">Register</a>
            </li>

        </ul>

    </div>
    <div>
        <form class="form-inline">
            <a class="btn btn-outline-success my-2 my-sm-0 " type="submit" href="{{ url_for('log_me_out') }}">Log
                Out</a>
        </form>
    </div>
</nav>

{% block content %}
{% endblock content %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>