{% extends 'base.html' %}
{% block content %}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.robocupjunior.org.au/themes/rcja/images/rcja_front12.jpg"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.robocupjunior.org.au/themes/rcja/images/rcja_front4.jpg"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.robocupjunior.org.au/themes/rcja/images/rcja_front9.jpg" class="d-block w-100"
                     alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

        <div class="container" style="margin-top: 80px ">

            <h2> What is RoboCup Jr?</h2>

            <p>RoboCup Junior Australia is a project-oriented educational initiative that supports
                local,regional and international robotic events for young students. It is designed to introduce
                RoboCup to primary and secondary school children, as well as undergraduates who do not have the
                resources to get involved in the senior leagues. The focus in the junior league is on education.
                RoboCup is an international effort whose purpose is to foster Artificial Intelligence (AI) and
                robotics research by providing a standard problem where a wide range of technologies can be
                integrated and examined. As well, the initiative serves as abasis for project-oriented education.
                The ultimate goal of RoboCup is that by the middle of the 21st century, a team of fully autonomous
                humanoid robot soccer players shall play (and win!) a soccer gameagainst the (human) world
                champions.</p>

            <h2>RoboCup Junior Australia</h2>
            <p>RoboCupJunior Australia and the RoboCupJunior Educational Competition were introduced to the
                world in Melbourne in 2000. The timing was perfect and it was tagged "The educational game of the
                new millennium". Since then RoboCupJunior Australia has experienced exponential growth where well
                established committees host major competitions in every state. RoboCupJunior is now played in 30
                countries around the world and is now a regular feature of the annual university run RoboCup World
                Finals, where it is the largest league. Created in a true cooperative spirit, the RoboCupJunior
                Educational Competition encompasses not only engineering and IT skills, but extends right across
                a school curriculum. RoboCupJunior also addresses social development by encouraging sportsmanship,
                sharing, teamwork, understanding of differences between individuals and nations, cooperation and
                organisational skills. RoboCupJunior is able to extend from the classroom with a comprehensive,
                relevant curriculum to regional, state, national and international competitions</p>
            <h2>Mission Statement</h2>
            <p>RoboCupJunior Australia aspires to be a popular educational activity of excellence. During the 20th
                century, science and technology have made exponential strides into the bettering of people's lives,
                but at the same time left many problems to solve. In the 21st century, it is essential that our
                cultures evolve in order to cater for new technologies. This is not a problem to be solved by one
                country or just a few engineers. All concerned people throughout the world must work on its on-going
                solution. By taking a fresh look at robots as an educational and entertainingmedium, it is hoped that
                RoboCup Junior Australia will contribute to the development of 21st century society.</p>
        </div>

    </div>

{% endblock content %}